numpy>=2.2.5
pandas>=2.2.3
scikit-learn==1.6.1
lightgbm>=4.6.0
xgboost>=3.0.1
joblib>=1.4.2
sentence-transformers==5.1.0
faiss-cpu>=1.7.3
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.20.0
rapidfuzz>=3.0.0
jellyfish>=0.9.0
flask>=2.3.0
flask-cors>=4.0.0
boto3>=1.28.0
